.container {
  width: 100%;
  height: 100%;
}
.navigation {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: rgb(48 48 48);
}
.content {
  width: 100%;
  height: calc(100% - 60px);
  overflow-y: scroll;
}

.wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}
